/* theme */

:root {
  --color-primary: #ecf0f1;
  --color-secondary: #2980b9;
  --color-black: #222;
  --color-white: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-black);
  color: var(--color-primary);
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  height: 10vh;
}

header a{
  font-size: 2.4rem;
  background-color: #222;
  color: #fafafa;
}
main {
  background: var(--color-secondary);
  max-width: 100%;
  height: 84vh;
}
main h2 {
  padding: 2rem 0 0.8rem;
  font-size: 3.2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary);
}

table {
  max-width: 80%;
  height: 40%;
  margin: auto;
}
table thead tr td {
  font-size: 2.8rem;
  padding: 0 1rem;
}
table thead tr td:first-child {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3.2rem;
}
table thead tr td:last-child {
  font-weight: 900;
  font-size: 4rem;
}
table tbody tr td {
  color: var(--color-primary);
  text-align: center;
  font-size: 4rem;
  padding: 1rem 0;
}
table tbody tr:last-child td {
  cursor: pointer;
}
main button {
  display: block;
  width: 6.4rem;
  margin: 4rem auto;
  background-color: #f1c40f;
  height: 3.2rem;
  font-size: 2rem;
  border: #111 1px solid;
  border-radius: 1rem;
  cursor: pointer;
}

footer{
  height: 6vh;
  background-color: #222;
}
footer p{
  font-size: .8rem;
  color: #fafafa;
  padding: .8rem;
}



/* ANIM */
main button:hover,
table tbody tr:last-child td:hover {
  transition: 0.2s;
  transform: scale(1.08);
}
main button:active,
table tbody tr:last-child td:active {
  transition: 0.2s;
  transform: scale(0.8);
}
